.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer ul{
    display: flex ;
}

.footer p {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}